.vs/slnx.sqlite
.vs/js1-gb-0709/v16/.suo
.vs/VSWorkspaceState.json
.DS_Store
/lectures/
/.vs/
/students/Dudenkov Vladimir/
/students/Gorkun Dmitriy/
/students/Kirill/
/students/mikhaylova_juliya/
/students/Myth/
/students/Niyaz Niyazov/
/students/NovikovStan/
/students/Petr Sedukhin/
/students/roman krivets/
/students/Shanin_Anatoly/
/students/Skulkina Kate/
/students/Артем Алексеев/
/students/Артем Трунилов/
/students/Джон До/
/students/Егор Голышев/
