#roulette {
    display: flex;
    align-items: center;
    justify-content: center;
}
#roulette img {
    display: inline-block;
    width: 100px;
    margin: 5px
    
}

#wrapper {
    
    
    align-items: center;
    justify-content: center;
}

#gallery {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

#wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 380px;
    margin-bottom: 10px;
    
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnS_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmd-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}